body {
    background-image: url("../images/skyline2.jpg");
}

h1 {
     padding: 20px;
     position: relative;
     top: 20px;
     font-family: 'Courier New', Courier, monospace;
     font-weight: bold;
}


#submit {
    background-color: salmon;
}

#search-form {
    background-color: white;
    border-radius: 15px;
}

.row .input-field input:focus {
    border-bottom: 1px solid salmon !important;
    box-shadow: 0 1px 0 0 salmon !important;
  }

#user-input {
    background-color: white;
    float: right;
    width: 400px;
    border-radius: 25px;
}

nav {
    background-color: salmon;
}

#submit-user {
    background-color: salmon;
    margin-left: 230px;
    padding-bottom: 0px;
}

#user-input2 {
    position: relative;
    top: -30px;
    left: 675px;
    background-color: white;
    width: 400px;
    border-radius: 25px;
}

#slide {
    background-color: white;
}

#link-button {
    background-color: salmon;
    margin: 50px;
}

#events-slide {
    width: 600px;
    margin: 50px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}